{% include 'components/header.html' %}

{% with menu='conjuntos' %}
    {% include 'components/sideBar.html' %}
{% endwith %}

<h5>Subir un Conjunto de Datos</h5>
<form id="conjuntoForm" action="{{url_for('Conjunto.crear')}}" method="POST" enctype="multipart/form-data" data-toggle="validator"
    class="jumbotron py-4 pr-2 bg-light" style="width:90%;">
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-5">
                <label id="facultad_label">Facultad</label>
                <select class="form-control" name="facultad" id="facultad_select" required>
                    {% for f in facultades %}
                    <option key="{{f.codigo}}" value="{{f.codigo}}">{{f.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" value="{{programas}}" id="programas_list">
            <div class="col-sm-6">
                <label id="programa_label">Programa</label>
                <select class="form-control" name="programa" id="programa_select" required>
                </select>
            </div>
            <script>
                $(document).ready(function () {
                    $("#facultad_select").val(null);

                });
                var programas = document.getElementById("programas_list").value;
                programas = JSON.parse(programas.replace(/'/g, '"'))
                var programa_select = document.getElementById("programa_select");


                var ua = window.navigator.userAgent;
                var isIE = ua.indexOf("MSIE ");


                $('#facultad_select').change(function () {
                    var facultad = $(this).val()
                    var i = 0
                    programa_select.options.length = 0
                    programas.forEach(p => {
                        if (p.facultad == facultad) {
                            programa_select.options[i] = new Option(p.nombre, p.codigo);
                            i = i + 1
                        }
                    });
                });            
            </script>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Período Inicial</label>
                <input type="number" id="periodoInicial_id" name="periodoInicial" class="form-control input-sm"
                    maxlength="6" max=30001 min=19001 required>
            </div>
            <div class="col-sm-2">
                <label>Período Final</label>
                <input type="number" id="periodoFinal_id" name="periodoFinal" class="form-control input-sm"
                    maxlength="6" max=30001 min=19001 required>
            </div>
            <script>
                // Setear maximos y minimos Períodos
                var today = new Date();
                var year = today.getFullYear()
                // Años de maximo 6 periodos 2020-1...6 (periodos de 2 meses) 
                var period = Math.floor((today.getMonth() + 2) / 2);

                if (period == 6) {
                    year = new Date().getFullYear() + 1
                    period = 1
                } else {
                    period = period + 1
                }
                var nextPeriod = parseInt(year + "" + period)

                // Maximo es el siguiente periodo 
                var periodoFinal = document.getElementById("periodoFinal_id")
                var periodoInicial = document.getElementById("periodoInicial_id")
                periodoInicial.value = ""
                periodoFinal.value = ""
                periodoFinal.max = nextPeriod;
                periodoInicial.max = nextPeriod;

                $('#periodoFinal_id').on('input', function () {
                    var validacion = $('#periodoInicial_id')[0].checkValidity()
                    if (periodoInicial.value && validacion) {
                        periodoFinal.min = periodoInicial.value
                    }
                    // Validar Período
                    var str = periodoFinal.value.toString()
                    var periodo = parseInt(str[str.length - 1])
                    if (periodo > 6 || periodo < 1) {
                        $(this)[0].setCustomValidity("Período Invalido");
                    } else {
                        $(this)[0].setCustomValidity("");
                    }
                })

                $('#periodoInicial_id').on('input', function () {
                    var validacion = $('#periodoFinal_id')[0].checkValidity()
                    if (periodoFinal.value && validacion) {
                        periodoInicial.max = periodoFinal.value
                    }
                    // Validar Período
                    var str = periodoInicial.value.toString()
                    var periodo = parseInt(str[str.length - 1])
                    if (periodo > 6 || periodo < 1) {
                        $(this)[0].setCustomValidity("Período Invalido");
                    } else {
                        $(this)[0].setCustomValidity("");
                    }
                })

            </script>

            <div class="col-sm-2 mr-0 pr-0">

                <label>Tipo</label>
                <br>
                <div class="container">
                    <div class="row">
                        <span class="mr-2" style="white-space: nowrap;">
                            <input id="tipo_consulta" type="radio" name="tipo" value="consulta">
                            &nbsp;<small>Consulta</small>
                        </span>

                        <br>

                        <span>
                            <input id="tipo_excel" type="radio" name="tipo" value="excel">
                            &nbsp;<small>Excel</small>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-sm-5" id="archivo_control" style="display: none;">
                <label>Archivo de Excel</label>
                <i class="fas fa-file-excel ml-1"></i>
                <div class="custom-file">
                    <input type="file" accept=".xls,.xlsx" name="archivo" id="archivo_picker" class="custom-file-input"
                        lang="es">
                    <label class="custom-file-label" for="customFile">Seleccionar archivo</label>
                    <script>
                        // Mostrar nombre del archivo seleccionado en el campo de texto 
                        $(".custom-file-input").on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                        });
                        // Mostrar control de archivo dependiendo del tipo 
                        $(document).ready(function () {
                            $('#tipo_consulta').prop("checked", true);
                        })

                        $('input[type=radio][name=tipo]').change(function () {
                            if (this.value == 'consulta') {
                                // Esconder control de archivo
                                $('#archivo_control').css('display', 'none')
                                // Limpiar archivo
                                $('#archivo_picker').replaceWith($('#archivo_picker').val('').clone(true));
                                $('#archivo_picker').siblings(".custom-file-label").html('Seleccionar archivo');
                                $('#archivo_picker').prop('required', false)

                                alert('Se hara una consulta a la Base de datos de los estudiantes del programa indicado que tengan registros entre los respectivos semestres ')
                            }
                            else if (this.value == 'excel') {
                                // Mostrar control de archivo
                                $('#archivo_control').css('display', 'inline')
                                $('#archivo_picker').prop('required', true)
                                alert('Ingrese un archivo excel con los estudiantes del programa indicado entre los respectivos semestres')
                            }
                        });

                    </script>
                </div>
            </div>
            <script>
                $('#archivo_picker').click(function () {
                    alert('Asegurese que los datos que ingrese tengan el formato de columnas correcto para su lectura.\nAdemas que correspondan a la facultad y programa selecccionados.\n\nGRACIAS')
                });            
            </script>
        </div>


        <!--Boton para validar campos-->
        <br>
        <div class="text-center">
            <button id="btn-submit" type="submit" class="btn btn-dark text-white my-primary submit" >
                <i class="fas fa-save mr-1"></i>
                Guardar
            </button>
            <button class="btn btn-dark text-white my-primary btn-loading" type="button" style="display: none;">
                <i class="fas fa-spinner fa-spin fa-lg text-white" aria-hidden="true"></i>
                Cargando...
            </button>
        </div>
    </div>
</form>


<!-- Modal -->
{% with titulo='Verificando',tipo='verificacion',num='1000 registros',den='1.5 segundos' %}
    {% include "components/modal.html" %}
{% endwith %}

<script>
    // Boton cargando si se esta validando y guardando la data del conjunto 
    $('#btn-submit').click(function () {
        var validacion = $('#conjuntoForm')[0].checkValidity()
        if (validacion == true) {
            handleModal('Su conjunto aparecera cuando acabe el proceso', "{{url_for('Conjunto.crudos')}}")
        }
    })
</script>

{% include 'components/footer.html' %}

