{% include 'components/header.html' %}

{% with menu='conjuntos' %}
    {% include 'components/sideBar.html' %}
{% endwith %}

<h4>Conjuntos de Datos</h4>
<br>

<!-- Input de filtrado -->
<div class="row ml-1 mt-2">
  &nbsp;<i class="fas fa-filter mr-2 mt-2""></i>&nbsp;
  <input type=" text" class="form-control form-control-sm w-25" id="filtro_tabla" placeholder="Filtrar tabla...">
</div>
<br>

<!-- Tabs de navegacion -->
<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link text-dark bg-light border" href="{{url_for('Conjunto.crudos')}}">Crudos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Procesados</a>
  </li>
</ul>

<!-- Tablas para listar -->
<div class="table-responsive-sm">
  <table class="table table-hover table-sm" id="tabla">
    <thead>
      <tr>
        <th scope="col" class="border-top-0">
          <center> Nombre </center>
        </th>
        <th scope="col" class="border-top-0">
          <center> Tipo </center>
        </th>
        <th scope="col" class="border-top-0">
          <center> Número </center>
        </th>
        <th scope="col" class="border-top-0">
          <center> Período Inicial </center>
        </th>
        <th scope="col" class="border-top-0">
          <center> Período Final </center>
        </th>
        <th scope="col" class="border-top-0">
          <center> Programa </center>
        </th>
        <th scope="col" class="border-top-0">
          <center> Acciones</center>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for c in conjuntos %}
      <tr>
        <td>
          <center>{{ c.nombre }}</center>
        </td>
        <td>
          <center>{{ c.tipo }}</center>
        </td>
        <td>
          <center>{{ c.numero }}</center>
        </td>
        <td>
          <center>{{ c.periodoInicial }}</center>
        </td>
        <td>
          <center>{{ c.periodoFinal }}</center>
        </td>
        <td>
          {% for p in programas %}
          {% if c.programa==p.codigo %}
          <center>{{p.nombre}}</center>
          {% endif %}
          {% endfor %}
        </td>
        <td>
          <!-- ACCCIONES -->
          <div class="row d-flex justify-content-center">

            <!-- EJECUTAR -->
            <form action="{{url_for('Conjunto.ejecutar')}}" method="POST">
              <center>
                <input type="hidden" name="conjunto" value="{{c}}">
                <input id="btn-submit" type="submit" data-toggle="tooltip" data-placement="bottom" title="Ejecutar"
                  class="btn btn-outline-dark btn-sm submit" role="status" value="&#9654;">
                <button class="btn btn-outline-dark btn-sm btn-loading" type="button" style="display: none;">
                  <i class="fas fa-spinner fa-spin fa-lg" aria-hidden="true"></i>
                </button>
              </center>
            </form>
            &nbsp;

            <!-- VER DETALLE-->
            <form action="{{url_for('Conjunto.detalle')}}" method="POST">
              <input type="hidden" name="conjunto" value="{{c}}">
              <button type="submit" data-toggle="tooltip" data-placement="bottom" title="Ver Detalle"
                class="btn btn-outline-dark btn-sm submit" role="status">
                <i class="fas fa-search-plus"></i>
              </button>
            </form>
          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  // Cargando si se esta validando y guardando la data del conjunto 
  $('#btn-submit').click(function () {
    handleModal('La ejecucion aparecera cuando acabe el proceso', "{{url_for('Resultado.ejecuciones')}}")
  })
</script>

<!-- Modal -->
{% with titulo='Ejecutando',tipo='ejecucion',num='1000 registros',den='20 segundos' %}
{% include "components/modal.html" %}
{% endwith %}

{% if error %}
<br>
{% with titulo='No se pudieron cargar los conjuntos',error=error %}
{% include "components/alert.html" %}
{% endwith %}
<br>
{% endif %}


<script>
  // Cargando si se esta validando y guardando la data del conjunto 
  $('#btn-submit').click(function () {
    handleModal('La ejecucion aparecera cuando acabe el proceso', "{{url_for('Resultado.ejecuciones')}}")
  })
</script>

{% include 'components/footer.html' %}