{% include 'components/header.html' %}

{% include 'components/sideBar.html' %}

<h4>Facultades</h4>
<h6 class="text-muted"><i class="fas fa-user-shield fa-sm"></i> Admin</h6>
<br>

<!-- Input de filtrado -->
<div class="row ml-1">
  &nbsp;<i class="fas fa-filter mr-2 mt-2""></i>&nbsp;
  <input type=" text" class="form-control form-control-sm w-25" id="filtro_tabla" placeholder="Filtrar tabla...">
</div>
<br>

<table class="table table-hover table-sm p-5 mw-75" id="tabla">
  <thead>
    <tr>
      <th scope="col">
        <center> Código </center>
      </th>
      <th scope="col">
        Nombre
      </th>
      <th scope="col">
        <center> Acciones </center>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for f in facultades %}
    <tr>
      <td>
        <center> {{ f.codigo }}</center>
      </td>
      <td> {{ f.nombre }} </td>
      <td>
        <center>
          <div class="btn-group" role="group" aria-label="Basic example">
            <!-- detalle -->
            <form action="{{url_for('Facultad.detalle')}}" method="POST">
              <input type="hidden" name="facultad" value="{{f}}">
              <button type="submit" data-toggle="tooltip" data-placement="bottom" title="Ver detalle"
                class="btn btn-outline-dark btn-sm submit" role="status">
                <i class="fas fa-search-plus"></i>
              </button>
            </form>
          </div>
        </center>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if error %}
<br>
{% with titulo='No se pudieron cargar las facultades ',error=error %}
{% include "components/alert.html" %}
{% endwith %}
<br>
{% endif %}

<br>


{% include 'components/footer.html' %}