<!-- container -->
</div>

</div>
<!-- Main Col END -->

</div>
<!-- body-row END -->

</body>
<!-- 
<footer class="page-footer font-small" style="background-color: #0e1f3b; width: 100% ;height: 50%; position: absolute;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> pleyades.com</a>
    </div>
</footer> 
-->

<!-- Frameworks js -->


<!-- Coustum js -->
<script text="text/javascript" src="{{url_for('static', filename='dist/js/main.js') }}"></script>

</html>