{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h3 class="ml-2 mt-2 p-0 text-white">Nivel Estudiante</h3>
    </div>
</div>


<!-- Contenedor Dasboard -->
<div class="container m-0 p-3 mt-3 w-100 h-75">
    <!-- Fila 1 -->
    <div style="height: 20%;">
        <!-- Formulario Busqueda por Programa -->
        <div class="text-center">
            <h6 class="text-dark">Buscar por programa</h6>
        </div>
        <form action="{{url_for('Tablero.estudiante_dashboard')}}" method="GET" data-toggle="validator"
            class="jumbotron container py-3 bg-light border" style="width: 60%;">
            <div class="form-group row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    <label>Programa</label>
                    <select id="programa_select" class="form-control-sm w-100" name="programa" required>
                        {% for p in programas_list %}
                        <option value="{{p}}" {% if p==programa %} selected {% endif %}>{{p}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-1">
                </div>
            </div>
            <div class="text-center mt-1">
                <button type="submit" class="btn btn-dark btn-sm text-white my-primary submit">
                    <i class="fas fa-search mr-1"></i>
                    Buscar
                </button>
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-between row m-0 w-100 " style="height: 15%;"></div>

    <!-- Fila 2 -->
    <div style="height: 20%;">
        <!-- Formulario Busqueda por Cedula -->
        <div class="text-center">
            <h6 class="text-dark">Buscar por Documento Identificación</h6>
        </div>
        <form action="{{url_for('Tablero.estudiante_dashboard')}}" method="GET" data-toggle="validator"
            class="jumbotron container py-3 bg-light border" style="width: 40%;">
            <div class="form-group row">
                <div class="col-1"></div>
                <div class="col-10">
                    <label>Documento</label>
                    <input type="text" name="documento" class="form-control-sm w-100" maxlength="50" required>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="text-center mt-1">
                <button type="submit" class="btn btn-dark btn-sm text-white my-primary submit">
                    <i class="fas fa-search mr-1"></i>
                    Buscar
                </button>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}