{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h3 class="ml-2 mt-2 p-0 text-white">Nivel Estudiante</h3>
        <!-- Controles -->
        {% if programa %}
        <div class="row ml-auto" style="width: 40%;;">
            <div class="col-10 ml-3">
                <label for="periodo_select" class="text-white">Selecciona un programa:</label>
                <br>
                <select id="programa_select" class="form-control-sm w-100">
                    {% for p in programas_list %}
                    <option value="{{p}}" {% if p==programa %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
    </div>
    <script>
        var programa = '{{ programa }}';
        $('#programa_select').on('change', function () {
            window.location.href = '/tableros/estudiante?programa=' + this.value;
        })
    </script>
</div>


<!-- Contenedor Dasboard -->
<div class="container m-0 p-3 mt-3 w-100 h-75">
    <div class="d-flex ml-1 mt-2 w-75">
        &nbsp;<i class="fas fa-filter mr-2 mt-2""></i>&nbsp;
        <input type=" text" class="form-control form-control-sm" id="filtro_tabla" placeholder="Filtrar tabla...">
    </div>
    <br>
    <div class="table-responsive-sm w-75">
        <table class="table table-hover table-sm" id="tabla">
            <thead>
                <tr>
                    <th scope="col" class="font-weight-normal">
                        <center> Identificacion </center>
                    </th>
                    <th scope="col" class="font-weight-normal">
                        <center> Nombre </center>
                    </th>
                    <th scope="col" class="font-weight-normal">
                        <center> Buscar </center>
                    </th>
                </tr>
            </thead>
            <tbody class="bg-light rounded">
                {% if estudiantes_list|length > 0 %}
                {% for e in estudiantes_list %}
                <tr>
                    <td>
                        <center>{{ e.documento }}</center>
                    </td>
                    <td>{{ e.nombre_completo }}</td>
                    <td>
                        <center>
                            <form action="{{url_for('Tablero.estudiante_dashboard')}}" method="GET"
                                data-toggle="validator">
                                <input type="text" name="documento" class="form-control-sm w-100" maxlength="50"
                                    value="{{e.documento}}" required hidden>
                                <input type="text" name="programa" class="form-control-sm w-100" maxlength="200"
                                    value="{{programa}}" required hidden>
                                <button type="submit" class="btn btn-dark btn-sm text-white my-primary submit">
                                    <i class="fas fa-search mr-1"></i>
                                </button>
                            </form>
                        </center>
                    </td>
                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <center><b>No hay estudiantes en este programa!!</b> </center>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}