{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h3 class="ml-2 mt-2 p-0 text-white">Nivel Estudiante</h3>
        <!-- Controles -->
        {% if estudiante %}
        <div class="row w-50 ml-auto">
            <div class="col-7 ml-3">
                <label for="periodo_select" class="text-white">Selecciona un programa:</label>
                <br>
                <select id="programa_select" class="form-control-sm w-100">
                    {% for p in programas_list %}
                    <option value="{{p}}" {% if p==programa %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <label for="periodo_select" class="text-white ">Selecciona un período:</label>
                <br>
                <select id="periodo_select" class="form-control-sm w-75">
                    {% for per in periodos_list %}
                    <option value="{{per}}" {% if per==periodo %} selected {% endif %}>{{per}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        {% endif %}
    </div>
    <script>
        var programa = '{{ programa }}';
        var periodo = '{{ periodo }}';
        var documento = '{{ estudiante.documento }}';
        $('#periodo_select').on('change', function () {
            window.location.href = '/tableros/estudiante?documento=' + documento + '&programa=' + programa + '&periodo=' + this.value;
        })
        $('#programa_select').on('change', function () {
            window.location.href = '/tableros/estudiante?documento=' + documento + '&programa=' + this.value;
        })
    </script>
</div>



<!-- Contenedor Dasboard -->
<div class="container m-0 p-0 w-100 h-75">

    {% if estudiante %}
    <!-- Fila 1 -->
    <div class="d-flex justify-content-between row m-0 w-100" style="height: 45%;">

        <div class="col-8 h-100">
            <div class="row mx-3 text-center my-4 ">
                <div class="col">
                    <h5 class="text-bold">{{estudiante.nombre_completo}}</h5>
                </div>
            </div>

            <div class="row m-1 p-2 border d-flex justify-content-between mx-5" style="height: 55%;">
                <div class="col-6 m-0 w-100 pr-5 pl-3" style="height: 85%;">
                    <table class="p-0 w-100">
                        <tbody class="p-0 h-100 w-100" style="height: 55%;">
                            <tr class="d-flex align-items-center mb-2">
                                <th scope="row" class="">{{estudiante.tipo_documento}}</th>
                                <td class="ml-auto"><span class="text-right">&nbsp;{{estudiante.documento}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center mb-2">
                                <th scope="row" class="">Fecha Nacimiento</th>
                                <td class="ml-auto"> <span class="text-right">{{estudiante.fecha_nacimiento}}</span>
                                </td>
                            </tr>
                            <tr class="d-flex align-items-center mb-2">
                                <th scope="row" class="">Edad</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.edad}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center">
                                <th scope="row" class="">Celular</th>
                                <td class="ml-auto"><a href="tel:{{estudiante.celular}}">{{estudiante.celular}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 w-100 m-0 pl-5 pr-3" style="height: 85%;">
                    <table class="p-0 w-100">
                        <tbody class="p-0 w-100">
                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Genero</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.genero}} </span></td>
                            </tr>

                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Estado Civil</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.estado_civil}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Estrato Residencia</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.estrato_res}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center">
                                <th scope="row" class="">Trabaja</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.trabaja}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row w-100 mt-0 p-0">
                    <div class="col-5 d-flex justify-content-end"><b>Correo</b></div>
                    <div class="col-7"><a href="mailto:{{estudiante.correo}}">{{estudiante.correo}}</a></div>
                </div>
            </div>
        </div>
        <div class="col-4 py-5 pr-5">
            <div class="container mt-2 pr-5">
                <div class="row h-50 d-flex justify-content-center">
                    <div class="col-4">
                        <center>
                            <h5>Desertor</h5>
                            {% if estudiante.desert_int == 1 %}
                            <h4 class="text-danger ml-4">SI</h4>
                            {% else %}
                            <h4 class="text-success ml-4">NO</h4>
                            {% endif %}
                        </center>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5 tex-center">
                        <center>
                            <h5>Intersemestral</h5>
                            {% if estudiante.intersemestral == 1 %}
                            <h4 class="text-danger ml-4">SI</h4>
                            {% else %}
                            <h4 class="text-success ml-4">NO</h4>
                            {% endif %}
                    
                        </center>
                    </div>
                </div>
                <br>
                <br>
                <div class="row h-50 d-flex justify-content-center">
                    <div class="col-5">
                        <center>
                            <h5>Sanciones</h5>
                            {% if estudiante.sanciones > 0 %}
                            <h4 class="text-danger ml-3">{{estudiante.sanciones}}</h4>
                            {% else %}
                            <h4 class="text-success ml-3">0</h4>
                            {% endif %}
                        </center>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5">
                        <center>
                            <h5>Semillero</h5>
                            {% if estudiante.particip_semill_Inv > 0 %}
                            <h4 class="text-success">SI</h4>
                            {% else %}
                            <h4 class="text-danger">NO</h4>
                            {% endif %}
                        </center>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Fila 2 -->
    <div class="d-flex justify-content-between row m-0 w-100" style="height: 45%;">

        <!-- PROMEDIOS -->
        <div class="col-6 p-0 m-0 h-100 pr-5 pt-2">
            <div class="d-flex align-items-end justify-content-center px-5" style="height:10%;">
                <div class="border px-2" style="width: 50%;">
                    <table class="h-100 w-100">
                        <tbody class="w-100 h-100">
                            <tr class="d-flex align-items-center">
                                <th scope="row" class="p-1">Promedio Acumulado</th>
                                <td class="ml-auto p-1">
                                    <span class="text-right">{{estudiante.promedio_acum}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="m-0 p-0 h-100" id="serie_promedio"></div>
        </div>

        <!-- PROGRESO -->
        <div class="col-6 p-0 m-0 h-100 pl-5 w-100">
            <div class="row" style="height: 35%;">
                <!-- Creditos -->
                <div class="px-3 py-1 border" style="width: 45%;">
                    <table class="w-100 h-100">
                        <tbody class="w-100 h-100">
                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Créditos Plan</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.creditos_plan}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Total Créditos Matriculados</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.tot_creditos_matric}}</span>
                                </td>
                            </tr>
                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Total Créditos Aprobados</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.acum_cred_aprob}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center">
                                <th scope="row" class="">Total Créditos Reprobados</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.acum_cred_reprob}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Asignaturas -->
                <div class="px-3 py-1 border " style="width: 45%;">
                    <table class="w-100 h-100">
                        <tbody class="w-100 h-100">

                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Total Asignaturas Canceladas</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.tot_asig_canc}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center mb-1">
                                <th scope="row" class="">Total Asignaturas Aprobadas</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.acum_asig_aprob}}</span></td>
                            </tr>
                            <tr class="d-flex align-items-center">
                                <th scope="row" class="">Total Asignaturas Reprobadas</th>
                                <td class="ml-auto"><span class="text-right">{{estudiante.acum_asig_perd}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <div class="row m-0" style="height: 45%; width: 90%;">
                <strong>Créditos</strong>
                <div class="m-0 p-0 h-50 w-100" id="creditos"></div>
                <br>
                <strong>Asignaturas</strong>
                <div class="m-0 p-0 h-50 w-100" id="asignaturas"></div>
            </div>

        </div>
    </div>
    {% else %}
    <center>
        <div class="m-5 p-5 w-50">
            <h6>
                <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i>
                NO SE ENCONTRO EL ESTUDIANTE CON...
            </h6>
            <br>
            <i>
                <strong>DOCUMENTO:</strong> &nbsp;{{documento}}
        
                {% if programa is not none %}
                <br>
                <strong>PROGRAMA:</strong> &nbsp;{{programa}}
                {% endif %}
                
                {% if periodo is number%}
                <br>
                <strong>PERÍODO:</strong>&nbsp;{{periodo}}
                {% endif %}
            </i>

            <br><br><br>
            <a href="{{url_for('Tablero.estudiante_dashboard')}}" class="btn btn-outline-dark">Atras</a>
        </div>
    </center>

    {% endif %}

</div>

<style>
    g.pointtext {
        display: none !important;
    }
</style>

<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ serie_promedio_plot | safe}};
    if (graphs) {
        Plotly.newPlot('serie_promedio', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ asignaturas_plot | safe}};
    if (graphs) {
        Plotly.newPlot('asignaturas', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true,
            })
    }
</script>
<script>
    var graphs = {{ creditos_plot | safe}};
    if (graphs) {
        Plotly.newPlot('creditos', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true,
            })
    }
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}