{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h2 class="m-2 text-white">Nivel Institucion</h2>
        <!-- Controles -->
        <div class="row ml-auto mr-3">
            <div class="col">
                <label for="periodo_select" class="text-white ">Selecciona un período:</label>
                <br>
                <select id="periodo_select" class="form-control-sm">
                    {% for p in periodos_list %}
                    <option value="{{p}}" {% if p==periodo %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script>
        var periodo = '{{ periodo }}';
        $('#periodo_select').on('change', function () {
            window.location.href = '/tableros/institucion?periodo=' + this.value;
        })
    </script>
</div>


<!-- Contenedor Dasboard -->
<div class="d-flex row w-100 h-100">

    <div class="container m-0 p-0 w-100 h-75">

        <!-- Fila 1 -->
        <div class="row m-0 px-3 py-2 w-100" style="height: 20%;">

            <!-- NOMBRE IES -->
            <div class="col-4 w-100 h-100 m-0 p-0 mr-2 d-flex align-items-center justify-content-center">
                <h3 class="m-0 p-0">{{nombre_ies}}</h3>
            </div>
            <!-- INDICADORES 1 -->
            <div class="col-3 w-100 h-100 m-0 p-0 px-4">
                <div class="m-0 p-0" style="height:85%;" id="indicadores_2"></div>
            </div>
            <!-- INDICADORES 2 -->
            <div class="col-4 h-100 m-0 p-0 ml-2" style="width:70%;">
                <div class="m-0 p-0" style="height:85%;" id="indicadores_1"></div>
            </div>


        </div>

        <!-- Fila 2 -->
        <div class="row m-0 p-0 w-100" style="height: 35%;">
            <!-- RADIAL or PIE CHART -->
            <div class="col-5 h-100">
                <div class="row mb-3" style="height: 5%;">
                    <p class="m-0 p-0 ml-3 text-black">&nbsp; &nbsp;Pastel de Facultades por Matricula Total</p>
                </div>
                <div style="width:100%; height: 95%;" id="pastel" class="pt-1"></div>
            </div>
            <!-- BARRAS -->
            <div class="col-7 h-100">
                <div class="h-100" id="barras"></div>
            </div>
        </div>

        <!-- Fila 3 margen -->
        <div class="row m-0 p-0 w-100" style="height: 10%;"></div>

        <!-- Fila 4 -->
        <div class="row m-0 p-0 w-100 " style="height: 40%;">

            <!-- LISTAS PROGRAMAS -->

            <!-- Serie Desercion -->
            <div class="col-5 h-100" style="overflow:auto; position: relative; direction:rtl;">
                <div id="miniseries_programas" style="width:95%; height:{{prgms_size_2}}%;  position: absolute;"></div>
            </div>

            <!--Indicadores -->
            <div class="col-7 h-100" style="overflow:auto; position: relative; direction:rtl;">
                <div id="indicadores_programas" class="mt-2"
                    style="width:95%; height:{{prgms_size_1}}%;  position: absolute;"></div>
            </div>

        </div>

    </div>
</div>

<style>
    g.pointtext {
        display: none !important;
    }
</style>

<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ indicadores_1_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_1', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ indicadores_2_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_2', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ miniseries_programas_plot | safe}};
    if (graphs) {
        Plotly.newPlot('miniseries_programas', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ barras_plot | safe}};
    if (graphs) {
        Plotly.newPlot('barras', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ indicadores_programas_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_programas', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ pastel_plot | safe}};
    if (graphs) {
        Plotly.newPlot('pastel', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })
    }
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}