{% include 'components/header.html' %}

{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <h2 class="m-2 text-white">Nivel Mundo</h2>
</div>
<br>

<!-- Contenedor Dasboard -->
<div class="container m-0 p-0 w-100 h-75">

    <!-- Fila 1 -->
    <div class="row m-0 p-0 w-100" style="height: 55%;">
        <!-- MAPA -->
        <div class="col-6 h-100 w-100 p-0 m-0">
            <div class="row p-0 m-0">
                <p class="m-0 p-0 text-black ml-3"><b>Mapa mundial</b></p>
                <p>&nbsp; (Selecciona tu país de interés)</p>
            </div>
            <div class="m-0 p-0 h-100 w-100" id="mapa"></div>
        </div>
        <!-- INSCRIPCIONES-->
        <div class="col-6 h-100 align-self-center">
            <p class="m-0 p-0 text-black "> &nbsp;<b>Clusterización de países</b></p>
            <div class="m-0 p-0 h-100" id="clusters"></div>
        </div>
    </div>

    <div class="row m-0 p-0 w-100" style="height: 5%;"></div>

    <!-- Fila 2 -->
    <div class="row m-0 p-0 d-flex justify-content-center w-100" style="height: 30%;">
        <!-- CLUSTERS -->
        <div class="col-4 h-100 p-0 m-0">
            <p class="m-0 p-0 text-black "> &nbsp;<b>Inscripciones en educación terciaria del país</b> </p>
            <div class="m-0 p-0 h-100" id="inscripciones"></div>
        </div>
        <div class="col-1 h-100 p-0 m-0"></div>
        <!-- GASTOS -->
        <div class="col-4 h-100 p-0 m-0 align-self-center">
            <p class="m-0 p-0 text-black "> &nbsp;<b>Gasto público en educación del país</b></p>
            <div class="m-0 p-0 h-100" id="gastos"></div>
        </div>
    </div>

</div>





<script>
    $("#clusters").find("g.pointtext").find("text").css("visibility", "hidden");
</script>

<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ mapa_plot | safe}};
    Plotly.newPlot('mapa', graphs.data, graphs.layout,
        {
            scrollZoom: true,
            displaylogo: false,
            responsive: true
        }
    ).then(gd => {
        gd.on('plotly_click', series_plot)
    });

    function series_plot(pais_obj) {
        var codigo_pais = pais_obj.points[0]['location']
        $.ajax({
            url: "",
            type: "GET",
            contentType: 'application/json;charset=UTF-8',
            data: {
                'pais': codigo_pais
            },
            dataType: "json",
            success: function (data) {
                var graphs = JSON.parse(data[0]);
                Plotly.newPlot('gastos', graphs.data, graphs.layout, {
                    displaylogo: false,
                    responsive: true
                });
                var graphs = JSON.parse(data[1]);
                Plotly.newPlot('inscripciones', graphs.data, graphs.layout, {
                    displaylogo: false,
                    responsive: true
                })
            }
        });
    }
</script>
<script>
    var graphs = {{ clusters_plot | safe}};
    Plotly.newPlot('clusters', graphs.data, graphs.layout,
        {
            scrollZoom: true,
            displaylogo: false,
            responsive: true
        }
    )

</script>
<script>
    var graphs = {{ gastos_plot | safe}};
    Plotly.newPlot('gastos', graphs.data, graphs.layout, {
        displaylogo: false,
        responsive: true
    });
</script>
<script>
    var graphs = {{ inscrp_plot | safe}};
    Plotly.newPlot('inscripciones', graphs.data, graphs.layout, {
        displaylogo: false,
        responsive: true
    })
</script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}