{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h2 class="m-2 text-white">Nivel País</h2>
        <!-- Controles -->
        <div class="row ml-auto mr-3 mt-1">
            <div class="col">
                <label for="periodo_select" class="text-white">Selecciona un período:</label>
                <br>
                <select id="periodo_select" class="form-control-sm">
                    {% for p in periodos_list %}
                    <option value="{{p}}" {% if p==periodo %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script>
        var periodo = '{{ periodo }}';
        $('#periodo_select').on('change', function () {
            window.location.href = '/tableros/pais?periodo=' + this.value; //relative to domain
        })
    </script>
</div>

<br>

<!-- Contenedor Dasboard -->
<div class="container m-0 p-0 w-100 h-75">

    <!-- Fila 1 -->
    <div class="row m-0 p-0 w-100" style="height: 12%;">
        <!-- INDICADORES  -->
        <div class="col-4 h-100">
            <div class="h-100" id="indicadores"></div>
        </div>
        <div class="col-1 h-100">
        </div>
        <div class="col-7 h-100">
            <div class="h-100" id="indicadores2"></div>
        </div>
    </div>

    <div class="row m-0 p-0 w-100" style="height: 5%;"></div>

    <!-- Fila 2 -->
    <div class="row m-0 p-0 w-100" style="height: 75%;">

        <!-- MAPA -->
        <div class="col-5 w-100 h-100 m-0 p-0">
            <div class="row" style="height: 5%;">
                <h6 class="m-0 p-0 text-black">&nbsp; &nbsp; Mapa del País</h6>
                <p>&nbsp; (Selecciona tu región de interés)</p>
            </div>
            <div id="mapa" style="width:100%; height: 95%;"></div>
        </div>

        <!-- BARRAS Y MINI GRAFICOS  -->
        <div class="col-7 w-100 m-0 p-0 h-100">
            <!-- <div class="container w-100 h-100 m-0 p-0 "> -->

            <div class="row d-flex justify-content-end m-0 p-0" style="height: 55%;">
                <!-- BARRAS -->
                <div class="col-11 h-100 m-0 p-0">
                    <h6 class="m-0 p-0 text-black">&nbsp; &nbsp; Datos por región</h6>
                    <div class="h-100" id="barras"></div>
                </div>
            </div>

            <div class="row m-0 p-0 w-100" style="height: 12%;"></div>

            <div class="row d-flex justify-content-center m-0 p-0" style="height: 33%;">
                <!-- PASTEL -->
                <div class="col-6 h-100 m-0 p-0">
                    <center>
                        <h6 class="m-0 p-0 text-black">Matrícula por sector</h6>
                    </center>
                    <div class="h-100" id="pastel"></div>
                </div>
                <!-- BARRAS GENERO -->
                <div class="col-4 h-100 m-0 p-0">
                    <center>
                        <h6 class="m-0 p-0 text-black ml-3">Matrícula por género</h6>
                    </center>
                    <div class="h-100 w-100 m-0 p-0" id="genero"></div>
                </div>
            </div>

            <!-- </div> -->
        </div>
    </div>

</div>



<script>
    $("#barras").find("g.pointtext").find("text").css("visibility", "hidden");
    $("#barras").find("g.pointtext").find("text").css("display", "none");
    $(".pointtext").css('display', 'none');
</script>
<style>
    g.pointtext {
        display: none !important;
    }
</style>
<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ mapa_plot | safe}};
    if (graphs) {
        Plotly.newPlot('mapa', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ barras_plot | safe}};
    if (graphs) {
        Plotly.newPlot('barras', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ genero_plot | safe}};
    if (graphs) {
        Plotly.newPlot('genero', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ pastel_plot | safe}};
    if (graphs) {
        Plotly.newPlot('pastel', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ indicadores_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }

</script>
<script>
    var graphs = {{ indicadores2_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores2', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }

</script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}