{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h3 class="ml-2 mt-2 p-0 text-white">Nivel Programa</h3>
        <!-- Controles -->
        <div class="row ml-auto">
            <div class="col">
                <label for="periodo_select" class="text-white ">Selecciona un período:</label>
                <br>
                <select id="periodo_select" class="form-control-sm">
                    {% for p in periodos_list %}
                    <option value="{{p}}" {% if p==periodo %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col ml-3">
                <label for="periodo_select" class="text-white">Selecciona un programa:</label>
                <br>
                <select id="programa_select" class="form-control-sm">
                    {% for p in programas_list %}
                    <option value="{{p}}" {% if p==programa %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script>
        var programa = '{{ programa }}';
        var periodo = '{{ periodo }}';
        $('#periodo_select').on('change', function () {
            window.location.href = '/tableros/programa?programa=' + programa + '&periodo=' + this.value;
        })
        $('#programa_select').on('change', function () {
            window.location.href = '/tableros/programa?programa=' + this.value + '&periodo=' + periodo;
        })
    </script>
</div>


<!-- Contenedor Dasboard -->
<div class="container m-0 p-0 w-100 h-75">

    <!-- Fila 1 -->
    <div class="d-flex justify-content-between row m-0 w-100 " style="height: 15%;">
        <!-- NOMBRE PROGRAMA -->
        <div class="col-7 w-100 h-100 m-0 px-2 py-3 d-flex align-items-center justify-content-center">
            <h3 class="m-0 p-0">{{nombre_programa}}</h3>
        </div>
        <!-- INDICADORES -->
        <div class="col-5 w-100 h-100">
            <div class="m-0 p-0 h-100 w-100" id="indicadores"></div>
        </div>
    </div>

    <div class="row m-0 p-0 w-100" style="height: 2%;"></div>

    <!-- Fila 2 -->
    <div class="d-flex justify-content-center row m-0 p-0 w-100" style="height: 35%;">
        <div class="col-4 p-0 m-0 bg-primary">
            <div class="h-100 p-0 m-0" id="radial"></div>
        </div>        
        <div class="col-1"></div>
        <div class="col-4 m-0 p-0">
            <div class="m-0 p-0 h-100" id="pastel"></div>
        </div>
    </div>

    <div class="row m-0 p-0 w-100" style="height: 5%;"></div>

    <!-- Fila 3 -->
    <div class="row m-0 px-3 w-100" style="height: 40%; overflow-x:scroll; position: relative; direction:ltr;">
        <div class="col-12 m-0 p-0 h-100" >
            <div class="m-0 p-0 h-100" style="width:150%;  position: absolute;" id="barras"></div>
        </div>
    </div>

</div>



<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ indicadores_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ radial_plot | safe}};
    if (graphs) {
        Plotly.newPlot('radial', graphs.data, graphs.layout,
            {
                // displayModeBar: true,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ pastel_plot | safe}};
    if (graphs) {
        Plotly.newPlot('pastel', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ barras_plot | safe}};
    if (graphs) {
        Plotly.newPlot('barras', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}