{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sideBar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h2 class="m-2 text-white">Nivel Regional</h2>
        <!-- Controles -->
        <div class="row ml-auto mr-3 mt-1">
            <div class="col">
                <label for="periodo_select" class="text-white mt-1">Selecciona un período:</label>
                <br>
                <select id="periodo_select" class="form-control-sm">
                    {% for p in periodos_list %}
                    <option value="{{p}}" {% if p==periodo %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="col ml-3">
                <label for="periodo_select" class="text-white">Selecciona una región:</label>
                <br>
                <select id="dpto_select" class="form-control-sm">
                    {% for d in dptos_list %}
                    <option value="{{d}}" {% if d==dpto %} selected {% endif %}>{{d}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script>
        var dpto = '{{ dpto }}';
        var periodo = '{{ periodo }}';
        $('#periodo_select').on('change', function () {
            window.location.href = '/tableros/region?dpto=' + dpto + '&periodo=' + this.value;
        })
        $('#dpto_select').on('change', function () {
            window.location.href = '/tableros/region?dpto=' + this.value + '&periodo=' + periodo;
        })
    </script>
</div>


<!-- Contenedor Dasboard -->
<div class="container m-0 p-0 w-100 h-75">

    <!-- Fila 1 -->
    <div class="row m-0 p-0 mb-4 w-100" style="height: 13%;">
        <!-- INDICADORES DPTO -->
        <div class="col-11 w-100 h-100 mt-1 mx-3">
            <div class="h-100" id="indicadores_dpto"></div>
        </div>
    </div>

    <!-- Fila 2 -->
    <div class="row m-0 p-0 w-100 " style="height: 45%;">
        <!-- MAPA -->
        <div class="col-5 px-3">
            <h6 class="m-0 p-0 text-black">&nbsp; &nbsp; Mapa de la región</h6>
            <div class="h-100 w-100" id="mapa" style="width:90%;"></div>
        </div>

        <!-- PATEL SECTOR -->
        <div class="col-3 p-5 w-50">
            <center>
                <h6 class="m-0 p-0 text-black">Matrícula por sector</h6>
            </center>
            <div class="h-100 w-100" id="pastel"></div>
        </div>
        <!-- d-flex justify-content-center align-self-center -->
        <!-- BARRAS GENERO -->
        <div class="col-4 p-5 w-50">
            <center>
                <h6 class="m-0 p-0 text-black ml-3">Matrícula por género</h6>
            </center>
            <div class="h-100 w-100" id="genero"></div>
        </div>


    </div>

    <!-- Fila 3 -->
    <div class="row m-0 p-0 w-100" style="height: 25%;">
        <!-- INDICADORES IES -->
        <div class="col-6 mt-5 h-100" style="overflow:auto; position: relative; direction:rtl;">
            <div id="indicadores_ies" style="width:95%; height:{{ies_size}}%;  position: absolute;"></div>
        </div>
        <!-- <div class="col-1 mt-5 h-100"></div> -->
        <!-- BARRAS IES -->
        <div class="col-6 mt-5 h-100" style="overflow:auto; position: relative; direction:rtl;">
            <div id="barras_ies" class="mt-2" style="width:95%; height:{{ies_size}}%;  position: absolute;"></div>
        </div>
    </div>

</div>


<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ mapa_plot | safe}};
    if (graphs) {
        Plotly.newPlot('mapa', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })

    }

</script>
<script>
    var graphs = {{ barras_plot | safe}};
    if (graphs) {
        Plotly.newPlot('barras', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })
    }

</script>
<script>
    var graphs = {{ genero_plot | safe}};
    if (graphs) {
        Plotly.newPlot('genero', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }

</script>
<script>
    var graphs = {{ pastel_plot | safe}};
    if (graphs) {
        Plotly.newPlot('pastel', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }

</script>
<script>
    var graphs = {{ indicadores_dpto_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_dpto', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }

</script>
<script>
    var graphs = {{ indicadores_ies_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_ies', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }

</script>
<script>
    var graphs = {{ barras_ies_plot | safe}};
    if (graphs) {
        Plotly.newPlot('barras_ies', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true,
            })
    }

</script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}