{% include 'components/header.html' %}

{% include 'components/sideBar.html' %}

<h5>Editar una Ejecucion</h5>
<br>
{% if e.nombre %}
<form action="{{url_for('ResultadoAdmin.actualizar_ejecucion')}}" method="POST" data-toggle="validator" class="jumbotron py-4 pr-4 bg-light"
    style="max-width:75%;">
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Nombre</label>
                <input type="text" name="nombre" maxlength="250" require value="{{e.nombre}}" hidden>
                <input type="text" class="form-control input-sm" maxlength="250" require value="{{e.nombre}}" disabled>
            </div>
            <div class="col-sm-6">
                <label>Conjunto de Datos</label>
                <input type="text" class="form-control" maxlength="200" value="{{e.conjunto}}" disabled >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <label>Ejecutor</label>
                <input type="email" class="form-control input-sm" maxlength="200" required value="{{e.ejecutor}}" disabled>
            </div>
            <div class="col-sm-2">
                <label>Número</label>
                <input type="number" class="form-control input-sm" maxlength="30" required value="{{e.numero}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5">
                <label >Fecha Inicial</label>
                <input type="datetime" class="form-control input-sm" maxlength="30" required value="{{e.fechaInicial}}" disabled>
            </div>
            <div class="col-sm-5">
                <label >Fecha Final</label>
                <input type="datetime" class="form-control input-sm" maxlength="30" required value="{{e.fechaFinal}}" disabled>
            </div>
            <div class="col-sm-2">
                <label >Duracion</label>
                <input type="number" class="form-control input-sm" maxlength="30" required value="{{e.duracion}}" disabled>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label >Estado</label>
                <select name="estado" id="rol" class="form-control input-sm" maxlength="30" required>
                    <option value="Exitosa" key="1" {% if e.estado=='Exitosa' %} selected {% endif %}> Exitosa </option>
                    <option value="Fallida" key="2" {% if e.estado=='Fallida' %} selected {% endif %}> Fallida </option>
                </select>
            </div>
            <div class="col-sm-9">
                <label >Resultados</label>
                &nbsp;(<small>JSON input</small>)
                <textarea type="text" name="resultados" class="form-control input-sm" maxlength="800"  rows="6" cols="50">{% if e.resultados %} {{e.resultados}} {% endif %}</textarea>
            </div>
        </div>

        <!--Boton para validar campos-->
        <br>
        <div class="text-center">
            <input type="submit" value="Actualizar" class="btn btn-dark text-white my-primary" />
            &nbsp;
            <a href="{{url_for('ResultadoAdmin.ejecuciones')}}" class="btn btn-outline-dark">Atras</a>
        </div>
    </div>
</form>
{% else %}

<div class="alert alert-danger" role="alert">
    <h5 class="alert-heading">Aviso!!</h5>
    <e>No se pudo encontrar los resultados a editar</e>
    <hr>
</div>

{% endif %}


{% include 'components/footer.html' %}