{% include 'components/header.html' %}

{% include 'components/sideBar.html' %}

<h4>Resultados</h4><h6 class="text-muted" ><i class="fas fa-user-shield fa-sm"></i> Admin</h6>
<br>

<!-- Input de filtrado -->
<div class="row ml-1 mt-2">
  &nbsp;<i class="fas fa-filter mr-2 mt-2""></i>&nbsp;
  <input type=" text" class="form-control form-control-sm w-25" id="filtro_tabla" placeholder="Filtrar tabla...">
</div>
<br>

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link text-dark  bg-light border" href="{{url_for('ResultadoAdmin.preparaciones')}}">Preparaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-dark" href="#">Ejecuciones</a>
  </li>
</ul>
<div class="table-responsive-sm">
  <table class="table table-hover table-sm" id="tabla">
    <thead>
      <tr>
        <th scope="col" class="border-top-0">
          <center>Nombre</center>
        </th>
        <th scope="col" class="border-top-0">
          <center>Ejecutor</center>
        </th>
        <th scope="col" class="border-top-0">
          <center>Fecha</center>
        </th>

        <th scope="col" class="border-top-0">
          <center>Estado</center>
        </th>
        <th scope="col" class="border-top-0">
          <center>Acciones</center>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for e in resultados %}
      <tr>
        <td>
          <center>{{ e.nombre }}</center>
        </td>
        <td>
          <center>{{ e.ejecutor }}</center>
        </td>
        <td>
          <center>{{ e.fechaInicial }}</center>
        </td>
  
        <td>
          <center>{{ e.estado }} </center>
        </td>
        <td>
          <center>
            <div class="btn-group" role="group" aria-label="Basic example">
              <!-- Editar -->
              <form action="{{url_for('ResultadoAdmin.editar_ejecucion')}}" method="POST">
                <input type="hidden" name="ejecucion" value="{{e}}">
                <input type="submit" data-toggle="tooltip" data-placement="bottom" title="Editar"
                  class="btn btn-outline-dark btn-sm" value="&#9999;">
              </form>
              <!-- Eliminar -->
              <form action="{{url_for('ResultadoAdmin.borrar_ejecucion')}}" method="POST">
                <input type="hidden" name="ejecucion" value="{{e}}">
                <input type="submit" data-toggle="tooltip" data-placement="bottom" title="Eliminar"
                  class="btn btn-outline-dark btn-sm" value="&#128465;">
              </form>

            </div>
          </center>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>

{% if error %}
{% with titulo='No se pudieron cargar los resultados',error=error %}
{% include "components/alert.html" %}
{% endwith %}
{% endif %}


{% include 'components/footer.html' %}