{% include 'components/header.html' %}

{% include 'components/sideBar.html' %}

<h5>Editar una Preparacion</h5>
<br>
{% if p.nombre %}
<form action="{{url_for('ResultadoAdmin.actualizar_preparacion')}}"" method="POST" data-toggle="validator" class="jumbotron py-4 pr-4 bg-light"
    style="max-width:75%;">
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Nombre</label>
                <input type="text" name="nombre" maxlength="250" require value="{{p.nombre}}" hidden>
                <input type="text" class="form-control input-sm" maxlength="250" require value="{{p.nombre}}" disabled>
            </div>
            <div class="col-sm-6">
                <label>Conjunto de Datos</label>
                <input type="text" class="form-control" maxlength="200" value="{{p.conjunto}}" disabled >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <label>Preparador</label>
                <input type="email" class="form-control input-sm" maxlength="200" required value="{{p.preparador}}" disabled>
            </div>
            <div class="col-sm-2">
                <label>Número</label>
                <input type="number" class="form-control input-sm" maxlength="30" required value="{{p.numero}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5">
                <label >Fecha Inicial</label>
                <input type="datetime" class="form-control input-sm" maxlength="30" required value="{{p.fechaInicial}}" disabled>
            </div>
            <div class="col-sm-5">
                <label >Fecha Final</label>
                <input type="datetime" class="form-control input-sm" maxlength="30" required value="{{p.fechaFinal}}" disabled>
            </div>
            <div class="col-sm-2">
                <label >Duracion</label>
                <input type="number" class="form-control input-sm" maxlength="30" required value="{{p.duracion}}" disabled>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                
                <label >Estado</label>
                <select name="estado" id="rol" class="form-control input-sm" maxlength="30" required>
                    <option value="Exitosa" key="1" {% if p.estado=='Exitosa' %} selected {% endif %}> Exitosa </option>
                    <option value="Fallida" key="2" {% if p.estado=='Fallida' %} selected {% endif %}> Fallida </option>
                </select>
            </div>
            <div class="col-sm-8">
                <label >Observaciones</label>
                &nbsp;(<small>JSON input</small>)
                <textarea type="text" name="observaciones" class="form-control input-sm" maxlength="800"  rows="6" cols="50">{% if p.observaciones %} {{p.observaciones}} {% endif %}</textarea>
            </div>
        </div>

        <!--Boton para validar campos-->
        <br>
        <div class="text-center">
            <input type="submit" value="Actualizar" class="btn btn-dark text-white my-primary" />
            &nbsp;
            <a href="{{url_for('ResultadoAdmin.preparaciones')}}" class="btn btn-outline-dark">Atras</a>
        </div>
    </div>
</form>
{% else %}

<div class="alert alert-danger" role="alert">
    <h5 class="alert-heading">Aviso!!</h5>
    <p>No se pudo encontrar los resultados a editar</p>
    <hr>
</div>

{% endif %}


{% include 'components/footer.html' %}