{% include 'components/header.html' %}

{% include 'components/sideBar.html' %}

<h5>Actualizar un Usuario</h5>

{% if u.correo %}
<form action="{{url_for('Usuario.actualizar')}}" method="POST" data-toggle="validator" class="jumbotron py-4 pr-0 bg-light"
    style="max-width:70%;">
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-8">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control input-sm" maxlength="200" required
                    value="{{u.nombre}}">
            </div>
            <div class="col-sm-3">
                <label>Rol</label>
                <select name="rol" id="rol" class="form-control input-sm" >
                    {% if u.rol=='Admin' %}
                    <option value="Admin" key="1" selected> Admin </option>
                    <option value="Analista" key="2"> Analista </option>
                    {% else %}
                    <option value="Admin" key="1" > Admin </option>
                    <option value="Analista" key="2" selected> Analista </option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label>Correo</label>
                <input type="hidden" name="correo" class="form-control" value="{{u.correo}}" required maxlength="30">
                <input type="text" class="form-control input-sm" maxlength="200" required value="{{u.correo}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label>Contraseña</label>
                <div class="d-flex align-content-center align-items-center">
                    <input type="password" name="clave" id="clave" class="form-control" maxlength="50" minlength="8">
                    &nbsp;
                    <div class="align-self-center fa fa-eye ml-1" onclick="password()" style="cursor:pointer"></div>
                </div>
            </div>
            <script>
                function password() {
                    var x = document.getElementById("clave");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
        </div>

        <!--Boton para validar campos-->
        <br>
        <div class="text-center">
            <input type="submit" value="Actualizar" class="btn btn-dark text-white my-primary" />
            &nbsp;
            <a href="{{url_for('Usuario.listar')}}" class="btn btn-outline-dark">Atras</a>
        </div>
    </div>
</form>
{% else %}

<div class="alert alert-danger" role="alert">
    <h5 class="alert-heading">Aviso!!</h5>
    <p>No se pudo encontrar el Usuario a editar</p>
    <hr>
</div>

{% endif %}


{% include 'components/footer.html' %}