{% include 'components/header.html' %}

{% include 'components/sideBar.html' %}

<h4>Gestion Usuarios</h4>
<h6 class="text-muted"><i class="fas fa-user-shield fa-sm"></i> Admin</h6>
<br>

<!-- Input de filtrado -->
<div class="row ml-1">
  &nbsp;<i class="fas fa-filter mr-2 mt-2""></i>&nbsp;
  <input type=" text" class="form-control form-control-sm w-25" id="filtro_tabla" placeholder="Filtrar tabla...">
</div>
<br>

<div class="table-responsive-sm">
  <table class="table table-hover table-sm p-5" id="tabla">
    <thead>
      <tr>
        <th scope="col">
          <div class="ml-4">Nombre</div>
        </th>
        <th scope="col">
          Correo
        </th>
        <th scope="col">
          Rol
        </th>

        <th scope="col">
          <center> Acciones</center>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for u in usuarios %}
      <tr>
        <td>
          <div class="ml-4">{{ u.nombre }}</div>
        </td>
        <td>
          {{ u.correo }}
        </td>
        <td>{{ u.rol }}</td>


        <td>
          <!-- ACCCIONES -->
          <center>
            <div class="btn-group" role="group" aria-label="Basic example">
              <!-- Editar -->
              <form action="{{url_for('Usuario.editar')}}" method="POST">
                <input type="hidden" name="usuario" value="{{u}}">
                <input type="submit" data-toggle="tooltip" data-placement="bottom" title="Editar"
                  class="btn btn-outline-dark btn-sm" value="&#9999;">
              </form>
              <!-- Eliminar -->
              <form action="{{url_for('Usuario.borrar')}}" method="POST">
                <input type="hidden" name="usuario" value="{{u}}">
                <input type="submit" data-toggle="tooltip" data-placement="bottom" title="Eliminar"
                  class="btn btn-outline-dark btn-sm" value="&#128465;">
              </form>
            </div>
          </center>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if error %}
<br>
{% with titulo='No se pudieron cargar los usuarios',error=error %}
{% include "components/alert.html" %}
{% endwith %}
<br>
{% endif %}

<br>
<a href="{{url_for('Usuario.crear')}}" type="button" class="btn btn-dark text-white my-primary"><i
    class="fa fa-user-plus mr-1"></i> Crear</a>

{% include 'components/footer.html' %}