{% include 'components/header.html' %}
<center>
  <div class="bg-light m-5 p-5" style="max-width: 1000px;">

    <h2> <strong> Acerca del Proyecto</strong> </h2>

    <br><br><br>
    
    <div class="mx-5 px-5 lead text-justify " style="font-size: 15px;">
      Integrantes del proyecto:
      <br>
      <table class="mx-5">
        <tr>
          <td> &#8226; &nbsp; Walter Saul Alvarez </td>
          <td>&nbsp; &nbsp; <i class="fas fa-user-tie"></i></td>
          <td> &nbsp; &nbsp; Gerente del proyecto</td>
          
        </tr>
        <tr>
          <td> &#8226; &nbsp; Juan Bernando Quintero </td>
          <td> &nbsp; &nbsp; <i class="fas fa-robot"></i></td>
          <td> &nbsp; &nbsp; Experto en IA</td>
          
          <td></td>
        </tr>
        <tr>
          <td> &#8226; &nbsp; Melissa Parra Obando </td>
          <td>&nbsp; &nbsp; <i class="fas fa-chart-pie"></i></td>
          <td> &nbsp; &nbsp; Experta en Deserción</td>
          
        </tr>
        <tr>
          <td> &#8226; &nbsp; Juan Esteban Quintero </td>
          <td>&nbsp; &nbsp; <i class="fas fa-laptop-code"></i></td>
          <td> &nbsp; &nbsp; Dersarrollador</td>
          

        </tr>
      </table>

      <br><br>

      Surgimiento del nombre:
      <br>
      <div class="mx-5">
        Astronomía
        <br>
        Las Pléyades o Las siete hermanas es un cúmulo estelar abierto que contiene estrellas calientes
        de tipo espectral B, de mediana edad, ubicadas en la constelación de Tauro. Está entre uno de los cúmulos
        estelares más cercanos a la Tierra, y es el cúmulo mejor visible a simple vista en el cielo nocturno. Las
        Pléyades
        albergan un prominente lugar en la mitología antigua, así como una diversidad de significados en diferentes
        culturas y tradiciones.
        <br><br>
        Mitología
        <br>
        En la mitología griega, las Pléyades (en griego Πλειας Pleias, ‘muchas’; Πλειάδες Pleiades, ‘hijas de Pléyone’; o
        Πελειαδες Peleiades, ‘hijas de palomas’) eran las siete hijas del titán Atlas y la ninfa marina Pléyone, nacidas
        en el monte Cilene. Son hermanas de Calipso, Hiante, las Híades y las Hespérides. Junto con las siete Híades
        eran llamadas Atlántidas, Dodónidas o Nisíadas, niñeras y maestras del infante Dioniso. Las Pléyades eran ninfas 
        en el cortejo de Artemisa, compartían la afición por la caza de ésta, y como ella intentaban mantener su virginidad.
        <br><br>
      </div>


    </div>

    <br><br><br>

  </div>
</center>

{% include 'components/footer.html' %}