{% include 'components/header.html' %}
<center>
    <div class="bg-light m-5 p-5" style="max-width: 1000px;">

        <h2><strong>Contáctanos</strong></h2>

        <br><br><br>

        <div class="text-justify">
            <div class="pr-5 container">

                <div class="row">

                    <div class="col-12" style="width: 50%;">
                        <center>
                            <a class="mt-0" href="http://www.educatic.com.co" target="_blank">
                                <img src="{{url_for('static', filename='images/Educatic_logo.png')}}"
                                    class="d-inline-block align-top" title="www.educatic.com.co">
                            </a>
                            <br>
                            <a href="http://www.educatic.com.co/" target="_blank">Educatic</a><br>
                            <br>
                            Celular: (+57) 311 634 45 26 <br>
                            Dirección: Carrera 42 N° 5 SUR 145, <br>
                            Piso 13, oficina 125, WeWork,<br>
                            Medellín, Antioquia <br>
                            Email: walter.alvarez@educatic.com.co <br>
                            Servicio y Soporte: soporte@educatic.com.co <br>
                            <br><br>
                        </center>
                    </div>


                </div>
            </div>
        </div>
        <br><br>
    </div>
</center>
{% include 'components/footer.html' %}