{% include 'components/header.html' %}

<div class="jumbotron container mt-5 alert alert-danger p-5" style="max-width:45%;" role="alert">
  
  {% if error %}
    <h4 class="alert-heading">{{error[:error.index(':')]}}</h4>
    <br>
    <p>{{ error[error.index(':'):error.index('.')].replace(':', '') }}</p>
    <hr>
    <p class="mb-0">{{ error[error.index('.'):].replace('.', '') }}</p>
  {% else %}

    {% if exception %}
        <h4 class="alert-heading"> ¡ERROR!</h4>
      <p>Ha ocurrido un error en la ejecución del servidor, si es necesario contacte al Administrador del sistema para verificar el error.</p>
      <hr>
    {% else %}

      {% if mensaje %}
        <h4 class="alert-heading">Aviso!!</h4>
        <p>{{mensaje}}</p>
        <hr>
        <p>{{submensaje}}</p>
        {% else %}
        <h4 class="alert-heading">Not Handled Error</h4>
        <p>Please Verify the uncatchable error</p>
      {% endif %}
      
    {% endif %}

  {% endif %}
</div>

{% include 'components/footer.html' %}