{% include 'components/header.html' %}

{% with menu='resultados' %}
    {% include 'components/sideBar.html' %}
{% endwith %}

<h4>Detalles de una Ejecucion</h4>
<br>



<div class="container border rounded pt-3 pl-5 float-left">

  <div class="row">
    {% if desertores %}
    <div class="col">
      <h5 class="mb-3 font-weight-bold ">Desertores</h5>
      <div class="d-flex ml-1 mt-2">
        &nbsp;<i class="fas fa-filter mr-2 mt-2""></i>&nbsp;
        <input type=" text" class="form-control form-control-sm" id="filtro_tabla" placeholder="Filtrar tabla...">
      </div>
      <br>
      <div class="table-responsive-sm">
        <table class="table table-hover table-sm" id="tabla">
          <thead>
            <tr>
              <th scope="col" class="font-weight-normal">
                <center> Documento de Identificación </center>
              </th>
              <th scope="col" class="font-weight-normal">
                <center> Nombre </center>
              </th>
              <!-- <th scope="col" class="font-weight-normal">
                  <center> Desertor </center>
                </th> -->
              <th scope="col" class="font-weight-normal">
                <center> Prediccion </center>
              </th>
            </tr>
          </thead>
          <tbody class="bg-light rounded">
            {% for d in desertores %}
            <tr>
              <td>
                <center>{{ d.documento }}</center>
              </td>
              <td>{{ d.nombre_completo }}</td>
              <td>
                <center>
                  {% if d.desertor==0 %}

                  <i class="fas fa-exclamation-circle fa-lg text-warning border-dark" data-toggle="tooltip"
                    data-placement="bottom" style="cursor: pointer;"
                    title="El modelo predijo que este estudiante&#10;podria ser un potencial desertor,&#10;aunque no ha sido reportado como tal."></i>
                  {% else %}
                  <i class="fas fa-check-circle text-secondary" data-toggle="tooltip" data-placement="bottom"
                    style="cursor: pointer;"
                    title="El modelo y el reporte coincidio definiendo este estudiante como desertor."></i>
                  {% endif %}
                </center>
              </td>
              <!-- <td>{{ d.prediccion }}</td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    <div class="col ml-5">
      <h5 class="mb-3 font-weight-bold">Resultados</h5>
      <br>
      <table class="table table-bordered w-75 ml-3" style="max-width: 70%;">
        <tbody>
          {% for key, value in resultados.items() %}
          <tr>
            <td><strong>{{ key.title()|replace('_',' ') }}</strong></td>
            <td class="bg-light">
              {{ value }}
              {% if key=='precision' %}
              %
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      {% if desertores %}
      <div class="d-flex justify-content-center align-items-center  ml-0 pl-0 mr-5 pr-5">
        <i class="fa fa-download" aria-hidden="true"></i>
        &nbsp;
        <div class="ml-0 pl-0 mr-2 d-flex ">Descargar: </div>
        &nbsp;&nbsp;
        <a class="btn bg-light btn-sm border text-dark px-2" type=" button"
          href="{{url_for('Resultado.descargar',ejecucion=ejecucion.nombre)}}">
          <i class="fas fa-file-excel mr-1" aria-hidden="true"></i>
          Desertores
        </a>
      </div>
      
      <br><br><br>
      {% endif %}
      <br>
      <div class="col">
        <h5 class="mb-3 font-weight-bold ">Detalle</h5>
        
        <table class="table table-bordered w-75">
          <tbody>
            {% for key, value in ejecucion.items() %}
            <tr>
              <td><strong>{{ key.title()|replace('_',' ') }}</strong></td>
              <td class="bg-light">
                {{ value }}
                {% if key=='duracion' %}
                seg
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>



      <br><br><br>
      <div class="text-center ml-0 pl-0 mr-5 pr-5">
        <a class="btn btn-outline-dark ml-0 mr-3" href="{{url_for('Resultado.ejecuciones')}}">Atras</a>
      </div>
      <br>


    </div>

  </div>


</div>




{% include 'components/footer.html' %}